:root {
  --cell-size: 48px;
  --cell-gap: 2px;
}

body {
  font-family: monospace;
}

.form {
  width: fit-content;
  margin-bottom: 12px;
}

.form input {
  width: calc(calc(var(--cell-size) * 8) + (7 * var(--cell-gap)));
}

#notation {
  width: fit-content;
  outline: rgba(0,0,0,.6) double;
  padding: 3px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(calc(var(--cell-size) * 8) + (7 * var(--cell-gap)));
  gap: var(--cell-gap);
  padding: calc(var(--cell-gap) * 2);
  border: 1px solid rgba(0,0,0,.6);
}

.board .cell {
  width: var(--cell-size);
  height: var(--cell-size);
  user-select: none;
  cursor: pointer;
  position: relative;
}

.board .cell.dark-square {
  background-image: url('black-cell-pattern.svg');
  background-size: cover;
}

.board .cell:hover {
  outline: 2px solid rgb(255 99 71 / 0.4);
}

.board .cell .piece {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  color: inherit;
}

.board .cell .piece.white-piece {
  color: rgb(255 255 255 / 0.9);
}

.board .cell .piece.black-piece {
  color: rgb(0 0 0 / 0.9);
}

.board .cell .piece-pawn {
  background-image: url('pawn.svg');
}

.board .cell .piece-rook {
  background-image: url('rook.svg');
}

.board .cell .piece-knight {
  background-image: url('knight.svg');
}

.board .cell .piece-bishop {
  background-image: url('bishop.svg');
}

.board .cell .piece-queen {
  background-image: url('queen.svg');
}

.board .cell .piece-king {
  background-image: url('king.svg');
}
